# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [24]:
map_path = "../output_data/cities.csv"
map_df = pd.read_csv(map_path)
map_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date
0,Hobart,-42.8794,147.3294,287.66,51,20,1.79,AU,1621475103
1,Kazachinskoye,57.6953,93.2761,280.13,52,98,5.06,RU,1621475687
2,Denpasar,-8.6500,115.2167,301.96,71,40,3.47,ID,1621475130
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248
4,Lüderitz,-26.6481,15.1594,287.97,83,5,2.81,NaN,1621475303

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [25]:
locations = map_df[["Latitude", "Longitude"]].astype(float)

weight = map_df["Humidity"].astype(float)

In [26]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [28]:
clean_map = map_df.dropna()
clean_map[(clean_map['Max Temp']<= 80) & (clean_map['Max Temp']> 70)]
clean_map[clean_map['Wind (in mph)']< 10]
clean_map[(clean_map.Clouds)== 0]
clean_map

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date
0,Hobart,-42.8794,147.3294,287.66,51,20,1.79,AU,1621475103
1,Kazachinskoye,57.6953,93.2761,280.13,52,98,5.06,RU,1621475687
2,Denpasar,-8.6500,115.2167,301.96,71,40,3.47,ID,1621475130
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248
5,Butaritari,3.0707,172.7902,301.05,78,71,5.19,KI,1621475249
...,...,...,...,...,...,...,...,...,...
546,Camapuã,-19.5314,-54.0439,294.52,40,14,2.04,BR,1621475808
547,Roseburg,43.2165,-123.3417,284.63,71,100,0.89,US,1621475808
548,Otterup,55.5153,10.3976,282.54,92,39,5.28,DK,1621475809
549,Sioux Lookout,50.1001,-91.9170,295.36,64,90,2.57,CA,1621475809
550,Boone,39.0334,-92.3335,295.04,42,100,0.89,US,1621475809

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure