# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
map_path = "../output_data/cities.csv"
map_df = pd.read_csv(map_path)
map_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date
0,Hobart,-42.8794,147.3294,287.66,51,20,1.79,AU,1621475103
1,Kazachinskoye,57.6953,93.2761,280.13,52,98,5.06,RU,1621475687
2,Denpasar,-8.6500,115.2167,301.96,71,40,3.47,ID,1621475130
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248
4,Lüderitz,-26.6481,15.1594,287.97,83,5,2.81,NaN,1621475303

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = map_df[["Latitude", "Longitude"]].astype(float)

weight = map_df["Humidity"].astype(float)

In [5]:
# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Summer's method, take note of the order filtering
clean_map = map_df.dropna()
clean_map = clean_map[clean_map['Wind (in mph)']< 10]

clean_map = clean_map[(clean_map['Clouds'])< 20]


# clean_map = clean_map[(clean_map['Max Temp']<= 80) & (clean_map['Max Temp']> 70)]
clean_map

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248
8,Maragogi,-9.0122,-35.2225,297.31,87,14,0.82,BR,1621475688
9,Ancud,-41.8697,-73.8203,283.94,83,17,6.17,CL,1621475362
29,Mossamedes,-15.1961,12.1522,297.10,45,0,3.83,AO,1621475300
33,Esperance,-33.8667,121.9000,291.06,76,2,2.83,AU,1621475315
...,...,...,...,...,...,...,...,...,...
541,Roquetas de Mar,36.7642,-2.6148,292.38,81,9,6.19,ES,1621475807
543,Rome,43.2128,-75.4557,294.23,68,1,0.00,US,1621475327
544,Yuancheng,36.6520,107.7896,294.00,27,0,3.96,CN,1621475807
545,Salinópolis,-0.6136,-47.3561,299.64,81,0,3.84,BR,1621475808
546,Camapuã,-19.5314,-54.0439,294.52,40,14,2.04,BR,1621475808

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df= clean_map.copy()
hotel_df['Hotel Name']= ''

In [17]:
hotel_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date,Hotel Name
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248,
8,Maragogi,-9.0122,-35.2225,297.31,87,14,0.82,BR,1621475688,
9,Ancud,-41.8697,-73.8203,283.94,83,17,6.17,CL,1621475362,
29,Mossamedes,-15.1961,12.1522,297.10,45,0,3.83,AO,1621475300,
33,Esperance,-33.8667,121.9000,291.06,76,2,2.83,AU,1621475315,

In [24]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # make request and print url
    name_address = requests.get(base_url, params=params)
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
#     try:
#         hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")

In [25]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [26]:
# Add marker layer ontop of heat map
#configuring gmaps
gmaps.configure(api_key=g_key)

In [27]:
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Latitude', 'Longitude']]
# Create a marker_layer using the hotel list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content= hotel_info)
fig.add_layer(markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
hotel_df

,City,Latitude,Longitude,Max Temp,Humidity,Clouds,Wind (in mph),Country,Date,Hotel Name
3,Busselton,-33.6500,115.3333,290.83,62,16,2.16,AU,1621475248,
8,Maragogi,-9.0122,-35.2225,297.31,87,14,0.82,BR,1621475688,
9,Ancud,-41.8697,-73.8203,283.94,83,17,6.17,CL,1621475362,
29,Mossamedes,-15.1961,12.1522,297.10,45,0,3.83,AO,1621475300,
33,Esperance,-33.8667,121.9000,291.06,76,2,2.83,AU,1621475315,
...,...,...,...,...,...,...,...,...,...,...
541,Roquetas de Mar,36.7642,-2.6148,292.38,81,9,6.19,ES,1621475807,
543,Rome,43.2128,-75.4557,294.23,68,1,0.00,US,1621475327,
544,Yuancheng,36.6520,107.7896,294.00,27,0,3.96,CN,1621475807,
545,Salinópolis,-0.6136,-47.3561,299.64,81,0,3.84,BR,1621475808,
546,Camapuã,-19.5314,-54.0439,294.52,40,14,2.04,BR,1621475808,